<body>
    <div class="px-4 py-5 my-5 text-center" >
        <img class="d-block mx-auto mb-4" style="margin-top:7%" src="https://www.pngkit.com/png/full/80-805161_spotify-icon-spotify-logo-black-and-white.png" alt="" width="60" height="60">
        <h1 class="display-5 fw-bold">Recent Discoveries</h1> 
            

          <p class="lead mb-4">Explore your recent discoveries, dive deep into your music taste!</p>
    
          <small></small>
          <button (click)="redirectToGenerate()" type="submit" class="btn btn-dark" style="margin-top:15px">Recent Likes</button>
          <br/>
          <button (click)="redirectToTopSongs()" type="submit" class="btn btn-dark" style="margin-top:15px">Top Songs</button>


    
      </div>
    
    

    </body>