<body>
    <div class="px-4 py-5 my-5 text-center" >
        <img class="d-block mx-auto mb-4" style="margin-top:7%" src="https://cdn-icons-png.flaticon.com/512/1051/1051331.png?w=360" alt="" width="55" height="57">
        <h1 class="display-5 fw-bold">Recent Discoveries</h1> 
            

          <p class="lead mb-4">Explore your recent discoveries, dive deep into your music taste! <br>in your last 200 likes, or produce a joint tweet with your best friends!</p>
    
          <small></small>
          <button (click)="redirectToGenerate()" type="submit" class="btn btn-dark" style="margin-top:15px">Generate</button>

    
      </div>
    
    

    </body>