<header>
  <nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
    <div class="container-fluid">


      <a class="navbar-brand" routerLink="/home">
        Home
      </a>
      
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a routerLink="/home" > <img  src="https://www.pngkit.com/png/full/190-1908258_contact-high-resolution-spotify-logo.png" alt="" width="40" height="51.76"></a>

        </li>
      </ul>
    </div>

  </nav>
</header>
<body >
  <router-outlet></router-outlet>
</body>