
<div  style="margin-top: 6%;" class="wrapper fadeInDown">
  <div *ngIf="!navServ.getLogged()" id="formContent">

    <div class="fadeIn first">
      <img style="margin: 3%;" height="80px" width="80px" src="https://www.pngkit.com/png/full/80-805161_spotify-icon-spotify-logo-black-and-white.png" id="icon" alt="User Icon"  />
    </div>

    <form (ngSubmit)="onSubmit()">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" [(ngModel)]="userName">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="userPassword">

      <input *ngIf="register" type="text" id="email" name="email" placeholder="email" [(ngModel)]="email">
     

      <input type="submit" class="fadeIn fifth" id="subBut" [value]="buttonText">
      <h4 *ngIf="notFound" style="color: red; margin-bottom: 5%;">Account not found.</h4>

    </form>

    <div id="formFooter">
      <a class="underlineHover" (click)="toggleRegText()" *ngIf="!register; else loginLink">Register</a>
      <ng-template #loginLink><a class="underlineHover" (click)="toggleRegText()">Login</a></ng-template>   

  </div>
</div>

<div *ngIf="navServ.getLogged()" id="formContent">
  <div class="fadeIn first">
    <img style="margin: 3%;" height="80px" width="80px" src="https://www.pngkit.com/png/full/80-805161_spotify-icon-spotify-logo-black-and-white.png" id="icon" alt="User Icon"  />
  </div>

 <h1>Welcome {{navServ.getNavText()}} </h1>
 
  <div id="formFooter">
    <a class="underlineHover" routerLink="/home">Go Home</a>

</div>
</div>


